<h1>if you forgot your password just type your email in the box below</h1>
<form method="post" action="/forgotten">
Email: <input type="text" name="email">
<input type="submit" value="forgotten">
</form>