

<h1>Please introduce your new password.</h1>

<form method="post" action="/password_change">
  <p>Introduce your new password:</p><input type="password" name="password">
  <br>
  <p>Please confirm your password:</p><input type="password" name="password_confirmation">
  <p></p>
  <br>
  <input type="submit" value="Reset password">
</form>