

<h1>Welcome, user.email; user.password_timestamp < 5min & user.password.token == session[:token]</h1>

<form method="post" action="/sessions">
  <p>Introduce your new password:</p><input type="password" name='password'>
  <br>
  <p>Please confirm your password:</p><input type="password" name='password'>
  <p></p>
  <br>
  <input type="submit" value="Reset password">
</form>